<h3><%= @user.name %></h3>

<a href="/users" ></a>

<table>
  <td>
    <tr>
      Name: <%= @user.name  %>
    </tr>
    <br>
    <tr>
      Email: <%= @user.email %>
    </tr>
    <br>
    <tr>
      Location: <%= @user.location %>
    </tr>
    <br>
    <tr>
      Image: <%= @user.image %>
    </tr>
    <br>
    <tr>
      Password Digesst: <%= @user.password_digest %>
    </tr>
  </tr>
</table>


<!-- ENTER SERVICES AND PETS BUTTONS FROM HERE  -->
