<h3><%= @user.name %></h3>

<a href="/users" ></a>

<table>
  <td>
    <tr>
      Name: <%= @user.name  %>
    </tr>
    <br>
    <tr>
      Email: <%= @user.email %>
    </tr>
    <br>
    <tr>
      Location: <%= @user.location %>
    </tr>
    <br>
    <tr>
      Image: <%= @user.image %>
    </tr>
    <br>
    <tr>
      Password Digest: <%= @user.password_digest %>
    </tr>
  </tr>
</table>

<%= link_to "Edit User", "/users/#{@user.id}/edit" %>
<%= link_to "Delete Users", @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to "Back to All Users", "/users"  %>

<!-- ENTER SERVICES AND PETS BUTTONS FROM HERE  -->
